
    <section class="dark-bg short-section stats-bar">
        <div class="container text-center">
            <div class="row">
                <div class="col-md-3 mb-sm-30">
                    <div class="counter-item">
                        <h2 class="stat-number" data-n="{{ct_musicas}}">0</h2>
                        <h6>Músicas</h6>
                    </div>
                </div>
                <div class="col-md-3 mb-sm-30">
                    <div class="counter-item">
                        <h2 class="stat-number" data-n="{{ct_videos}}">0</h2>
                        <h6>Vídeos</h6>
                    </div>
                </div>
                <div class="col-md-3 mb-sm-30">
                    <div class="counter-item">
                        <h2 class="stat-number" data-n="{{ct_eventos}}">0</h2>
                        <h6>Eventos</h6>
                    </div>
                </div>
                <div class="col-md-3 mb-sm-30">
                    <div class="counter-item">
                        <h2 class="stat-number" data-n="{{ct_centros}}">0</h2>
                        <h6>Centros Espíritas</h6>
                    </div>
                </div>
            </div>
        </div>
    </section>