        <section id="about" class="light-bg">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 text-center">
						<div class="section-title">
							<h2>Recursos Espirituais</h2>
							<p>Descubra uma variedade de conteúdos para apoiar sua jornada espiritual<br><strong>"Eu sou o Caminho, Verdade e Vida"</strong> - Jesus</p>
						</div>
					</div>
				</div>
				<div class="row">
					<!-- about module -->
					<div class="col-md-3 text-center">
						<div class="mz-module">
							<div class="mz-module-about">
								<i class="fa fa-briefcase color1 ot-circle"></i>
								<h3>Mensagens Espirituais</h3>
								<p>Reflexões e orientações para o crescimento espiritual</p>
							</div>
							<a href="{% url 'mensagens' %}" class="mz-module-button">Saiba Mais</a>
						</div>
					</div>
					<!-- end about module -->
					<!-- about module -->
					<div class="col-md-3 text-center">
						<div class="mz-module">
							<div class="mz-module-about">
								<i class="fa fa-photo color2 ot-circle"></i>
								<h3>Músicas Edificantes</h3>
								<p>Hinos e cânticos que elevam a alma</p>
							</div>
							<a href="{% url 'musicas' %}" class="mz-module-button">Saiba Mais</a>
						</div>
					</div>
					<!-- end about module -->
					<!-- about module -->
					<div class="col-md-3 text-center">
						<div class="mz-module">
							<div class="mz-module-about">
								<i class="fa fa-camera-retro color3 ot-circle"></i>
								<h3>Vídeos Educativos</h3>
								<p>Palestras e estudos sobre a Doutrina Espírita</p>
							</div>
							<a href="{% url 'videos' %}" class="mz-module-button">Saiba Mais</a>
						</div>
					</div>
					<!-- end about module -->
					<!-- about module -->
					<div class="col-md-3 text-center">
						<div class="mz-module">
							<div class="mz-module-about">
								<i class="fa fa-cube color4 ot-circle"></i>
								<h3>Eventos</h3>
								<p>Palestras, seminários e congressos espíritas</p>
							</div>
							<a href="#eventos" class="mz-module-button">Saiba Mais</a>
						</div>
					</div>
					<!-- end about module -->
				</div>
			</div>
			<!-- /.container -->
		</section>