{% load static %}
		<!-- Header -->
		<header>
			<div class="container-fluid">
				<div class="slider-container">

						<div class="owl-slider owl-carousel">
							<div class="item">
								<div class="owl-slider-item">
									<img src="{% static '/images/1-girassol.jpg' %}" class="img-responsive"
										 alt="portfolio">
									<div class="intro-text">
										<div class="intro-heading">Eu Sou o Caminho, a Verdade e a Vida</div>
										<div class="intro-lead-in">Jesus</div>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="owl-slider-item">
									<img src="{% static '/images/1-girassol.jpg' %}" class="img-responsive"
										 alt="portfolio">
									<div class="intro-text">
										<div class="intro-heading">Eu Sou o Pão da Vida</div>
										<div class="intro-lead-in">Jesus</div>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="owl-slider-item">
									<img src="{% static '/images/1-girassol.jpg' %}" class="img-responsive"
										 alt="portfolio">
									<div class="intro-text">
										<div class="intro-heading">Eu Sou a Luz do Mundo</div>
										<div class="intro-lead-in">Jesus</div>
									</div>
								</div>
							</div>
						</div>

				</div>
			</div>
		</header>
