{% load static %}
		<!-- Header -->
		<header>
			<div class="container-fluid">
				<div class="slider-container">

						<div class="owl-slider owl-carousel">
							<div class="item">
								<div class="owl-slider-item">
									<img src="{% static '/images/demo/slider-1.jpg' %}" class="img-responsive"
										 alt="portfolio">
									<div class="intro-text">
										<div class="intro-lead-in">Mensagens que acalmam a alma</div>
										<div class="intro-heading">Nos Braços de Jesus</div>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="owl-slider-item">
									<img src="{% static '/images/demo/slider-1.jpg' %}" class="img-responsive"
										 alt="portfolio">
									<div class="intro-text">
										<div class="intro-lead-in">We are the number one</div>
										<div class="intro-heading">Design & Development Agency</div>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="owl-slider-item">
									<img src="{% static '/images/demo/slider-1.jpg' %}" class="img-responsive"
										 alt="portfolio">
									<div class="intro-text">
										<div class="intro-lead-in">We are the number one</div>
										<div class="intro-heading">Design & Development Agency</div>
									</div>
								</div>
							</div>
						</div>

				</div>
			</div>
		</header>
