{% load static %}
		<!-- Header -->
		<header>
			<div class="container-fluid">
				<div class="slider-container">
						<div class="">
							<div class="item">
								<div class="">
									<img src="{% static '/images/gira_menor.png' %}" class="img-responsive"
										 alt="portfolio">
									<div class="intro-text">
										<div class="intro-lead-in"></div>
										<div class="intro-heading"></div>
									</div>
								</div>
							</div>
						</div>
				</div>
			</div>
		</header>
